@import "../../styles/colors";

.box {
  border: 1px solid #797979;
  max-width: 600px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

.content {
  margin: 15px 50px 40px 50px;
}

.dialog-heading {
  margin: 15px 20px 30px 20px;
  padding: 0px 10px 5px 10px;

  .header {
    font-size: 26px;
  } 

  .subtitle {
    font-size: 14px;
  }

  border-bottom: 1px solid;
}