.app {
  position: relative;
}

.dialog-box {
  position: absolute;
  right: 0;
  top: 0;
  margin: 50px 50px 0 0;
  z-index: 1000;
}

.bubble-graph {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  overflow: scroll;
  width: 100%;
  background-image:
    repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
  background-size: 30px 30px;
}